<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Titre</label>
        <input type="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Titre de l'article"name="title" [(ngModel)]="title">
        <small id="emailHelp" class="form-text text-muted">Nigel is the key.</small>
    </div>
    <div class="form-group">
            <label for="content">Contenu</label>
            <input type="title" class="form-control" id="content" aria-describedby="contentHelp" placeholder="Contenu de l'article" name="content" [(ngModel)]="content">
            <small id="content" class="form-text text-muted">Say something smart.</small>
        </div>
    <button type="submit" class="btn btn-primary" (click)="goUpdate()">Submit</button>
</form>