<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Titre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Titre de l'article"
            name="title" [(ngModel)]="currentArticle.title" required>
        <small id="emailHelp" class="form-text text-muted">Nigel is the key.</small>
    </div>
    <div class="form-group">
        <label for="content">Contenu</label>
        <textarea aria-describedby="contentHelp" placeholder="Contenu de l'article" name="content" [(ngModel)]="currentArticle.content"
            required></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Catégorie :</label>
        <select class="form-control" id="exampleFormControlSelect1" name="selectedCategories" [(ngModel)]="selectedCategories">
          <option *ngFor="let categorie of categories" value="{{categorie}}">{{categorie?.label}} {{categorie?.title}}</option>
        </select>
      </div>
    <div class="alert alert-success" role="alert" *ngIf="success === true">
        Modifications sauvegardées !
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="success === false">
        Aucun champ ne doit être vide !
    </div>
    <button type="submit" class="btn btn-primary" (click)="goUpdate()" [disabled]="!currentArticle.title || !currentArticle.content" *ngIf="!create">Enregistrer les modifications</button>
    <button type="submit" class="btn btn-primary" (click)="goCreate()" [disabled]="!currentArticle.title || !currentArticle.content" *ngIf="create">Créer</button>
</form>